$doctorBlue: #e2f0fd;

body {
  background-color: $doctorBlue;
  font-family: sans-serif;
  margin: 0;
  background-image: url(/img/wall.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  font-size: 10px;
  text-align: center;
}

header {
  height: 60px;
  width: 100%;
  background-color: #afd6fd;
  display: flex;
  justify-content: space-between;
}

.steth {
  width: 50px;
  display: flex;
  align-self: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.head {
  margin-left: 20px;
  color: #255c93;
  font-size: 16px;
  text-transform: uppercase;
}

form {
  background-color: $doctorBlue;
  height: 160px;
  width: 40%;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  box-shadow: 8px 8px 20px grey;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: $doctorBlue;
  margin: 20px;
  box-shadow: 8px 8px 20px grey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

img {
  width: 100px;
  height: autp;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

input {
  display: flex;
  height: 25px;
  border-radius: 2px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  display: flex;
  height: 29px;
  background-color: #afd6fd;
  width: 100px;
  border-radius: 3px;
  border: 0;
  align-self: center;
}

li {
  list-style: none;
}
